<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="/static/frontend.js"></script>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <main>
        <div id="root"></div>
    </main>
</body>
</html>
